* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  width: 1025px;
  border: 3px solid #000;
  margin: 0 auto;
}

header,
.about_title,
.section3_title {
  text-align: center;
  text-transform: uppercase;
}

header h2,
.about_title h2,
.section3_title h2 {
  font-size: 28px;
  padding: 10px;
  font-weight: bold;
}

.about_left {
  width: 568px;
  float: left;
  padding: 5px;
  margin: 10px;
}
.about_left p {
  font-size: 20px;
  line-height: 28px;
}

.about_right {
  width: 405px;
  float: right;
  padding: 10px;
}

image_area {
  width: 100%;
  height: 360px;
}

.section3_left {
  width: 405px;
  float: left;
  padding: 5px;
  margin: 10px;
}

.section3_right {
  float: right;
  padding: 10px;
  width: 570px;
}

.section3_right p {
  font-size: 20px;
  line-height: 28px;
}

.event_title {
  text-transform: uppercase;
}
.event_title h2 {
  font-size: 28px;
  font-weight: bold;
  padding: 10px;
}
.event {
  float: left;
  width: 330px;
  padding: 5px;
  height: fit-content;
}

#footer {
  overflow: hidden;
  background: black;
  color: white;
  padding: 25px;
  width: 975px;
  margin: 0 auto;
  height: 20px auto;
}

footer p {
  font-size: 14px;
  text-align: center;
}
